:root {
  --mood-background-color: white;
  --mood-text-color: black;
}

body {
  background-color: var(--mood-background-color);
  color: var(--mood-text-color);
}

button {
  background-color: Transparent;
  color: var(--mood-text-color);
  border: solid 0.9px var(--mood-text-color);
  margin: 10px 10px 10px 10px;
  height: 40px;
  width: 160px;
}
