:root {
  --mood-background-color: white;
  --mood-text-color: black;
}

body {
  background-color: var(--mood-background-color);
  color: var(--mood-text-color);
}

button {
  background-color: Transparent;
  color: var(--mood-text-color);
  border: solid var(--mood-text-color);
}
